/* 清除所有元素的内外边距 */
* {
 margin: 0;
 padding: 0;
}
/* 设置默认字体样式 */
body {
 font-size: 14px;
 font-family: "Microsoft Yahei", sans-serif;
 color: #333;
}
/* 清除列表样式 */
li{
    list-style: none;
}


/* 清除a标签的下划线和设置默认颜色 */
a {
text-decoration: none;
color: #000;
}