/*首页CSS样式*/
.wrapper{
    margin: 0 auto;
    width: 1200px;
}

body{
    background-color: #f3f5f7;
}

/* 头部区域 */
.header{
    height: 100px;
    background-color: #f3f5f7;
}

.header .wrapper{
    padding-top: 29px;
    display: flex;
}

/* logo */
.logo a{
    display: block;
    width: 195px;
    height: 41px;
    background-image: url(../images/logo_03.jpg) ;
    font-size: 0;
   
}

/* 导航 */
.nav {
    margin-left: 102px;  
}
.nav ul{
    display: flex;
}

.nav li{
    margin-right: 24px;
}

.nav li a{
    display: block;
    padding: 6px 8px;
    line-height: 27px;
    font-size: 19px;
}

/* active表示默认选中的a */
.nav li .active,
.nav li a:hover{
    border-bottom: 2px solid #00a4ff;  
    color: #00a4ff;
}

/* search */
.search{
    width: 390px;
    height: 40px;
    background-color: #fff;
    border:1px solid #00a4ff;
    

    margin-left: 64px;
    padding-left: 19px;
    padding-right: 12px;   

    display: flex;
    position: relative
}

.search input{
    flex: 1;
    border:  0;
    background-color: transparent;
    outline: none;
}

.search input::placeholder{
    color: #999;
    font-size: 14px;
}

.search a{
    position: absolute;
    right: 0; 
    width: 50px;
    height: 40px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: center center; 
    
    display: block;  
}

/* users */
.user{
    margin-left: 32px;
    margin-top: 4px;
}

.user img{
    vertical-align: middle;
    margin-right: 7px;
}

.user span{
    color: #666;
    font-size: 16px;
}


/* banner区域 */
.banner{
    background-color: #1d0f67;
    height: 420px;
}

.banner .wrapper{
    height: 420px;
    background-image: url(../uploads/banner2.png);
    display: flex;
    justify-content: space-between;
}

/* 侧导航 */
.banner .left{
    width: 191px;
    height: 420px;
    background-color: rgb(0, 0, 0,0.42);
    
}

.banner .left li:hover{
    background-color: #000;
}

.banner .left li{
    padding: 3px 20px;
}

.banner .left a{
    display: block;
    height: 40px;
    line-height: 36px;
    color: #fff;
    font-size: 14px;
    background: url(../images/大于号.png) no-repeat right center;
    background-size: 16px;
    
}

.banner .left a:hover{
    background-image: url(../images/大于号\ \(1\).png);
    color: #00a4ff;
}

.banner .right{
    width: 218px;
    height: 305px;
    background-color: #fff;
    margin-top: 55px;
}

.banner .right h3{
    height: 48px;
    background-color: #abcde7;
    color: #fff;
    text-align: center;
    line-height: 48px; 
}

.banner .right .content{
    height: 257px;
    padding: 14px;
}

.banner .right dl{
    margin-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
}

.banner .right dt{
    margin-top: 4px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 700;
}

.banner .right dd{
    font-size: 12px;
    margin-bottom: 16px;
    line-height: 16px;
}

.banner .right dd span{
    color: #00a4ff;
}

.banner .right dd strong{
    color: #7d7d7d;
    font-weight: 400;
}

.banner .right a{
    display: block;
    height: 36px;
    background-color: #fff;
    border: #00a4ff solid 1px;
    text-align: center;
    line-height: 36px;
    color: #00a4ff;
    font-size: 16px;
    font-weight: 700;
    transform: translateY(-3px);
}

/* recommend */
.recommend {
    height: 60px;
    background-color: #fff;
    box-shadow: 2px 4px 4px 2px rgba(211, 211, 211, 0.5);
    margin-top: 12px;
    line-height: 60px;
    display: flex;
}

.recommend h3{
    padding-left: 20px;
    font-weight: 700;
    font-size: 16px;
    color: #00a4ff;
}

.recommend ul{
    /* 除去标题和修改兴趣的尺寸，父级剩余尺寸都给ul，实现把修改兴趣挤到最右侧 */
    flex: 1;
    display: flex;
}

.recommend li a{
    border-right: 1px solid #e0e0e0;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 16px;
}

.recommend li a:hover{
    color: #00a4ff;
}

.recommend ul li:last-child a{
    border-right: 0;

}

.recommend .modify{
    padding-right: 20px;
    color: #00a4ff;
}

/* 推荐课程 */
.course{
    margin-top: 15px;
}

.hd{
    line-height: 60px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.hd h3{
    font-size: 21px;
}

.hd .more{
    font-size: 14px;
    color: #999;
}

.bd ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* 新增：限制最大宽度，和第一个模块的父容器宽度保持一致 */
  max-width: 1200px;
    /* 可选：让容器居中，和第一个模块对齐 */
    margin: 0 auto;
    gap: 15px;
}

.bd li{
    margin-bottom: 14px;
    width: 228px;
    height: 271px;
    background-color: pink;
}

.bd li .pic{
    height: 156px;
}

.bd li .text{
    height: 115px;
    background-color: #fff;
}

.bd li .pic img {
  width: 228px;  /* 宽度设为200px */
  height: 156px;  /* 高度自动按比例缩放，避免变形 */
}

.bd li .text h4{
    height: 40px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 13px;
    padding-top: 16px;
    
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.bd li .text p{
    color: #999;
    font-size: 12px;
    line-height: 20px;
    padding-left: 18px;
}

.bd li .text p span{
    color: #fa6400;
}

.bd li .text p i{
    font-style: normal;
}


/* 前端 */
.hd ul{
    display: flex;
}

.hd li a{
    margin-right: 60px;
    font-size: 16px;
    color: #999;
}

.hd li a:hover{
    color: #00a4ff;
}

.bd{
    display: flex;
    justify-content: space-between;
}

.bd .left{
    width: 228px;
}

.bd .right{
    width: 957px;
}

.bd .left img{
    width: 228px;
    height: auto;
}

.bd .right img{
    width: 957px;
    height: auto;
}

.bd .right .bottom li{
    margin-top: 10px;
}

/* 版权区域 */
.footer{
    margin-top: 20px;
    padding-top: 60px;
    height: 273px;
    background-color: #fff;
}

.footer .wrapper{
    display: flex;
    justify-content: space-between;
}

.footer .left{
    width: 440px;
}

.footer .left p{
    margin-top: 24px;
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 17px;
    color: #666;
}

.footer .left .download{
    display: block;
    width: 120px;
    height: 36px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    color: #00a4ff;
}

.footer .right{
    display: flex;
}

.footer .right dl{
    margin-left: 130px;
}

.footer .right dt{
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 23px;
}

.footer .right a{
    font-size: 14px;
    color: #666;
    line-height: 24px;
}
